



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 	
	<title>收货地址</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="css/header.css">
	<style type="text/css">
		body {
			width: 100%;
			height: 600px;
		}
		.main_center{
			width: 350px;
		}
		.header_center label {
			margin-left: 20px;
			font-size: 25px;
		}
		li {
			list-style: none;
			height: 50px;
		}
		.main_center li label {
			float: left;
			font-size: 15px;
			color: #999999;
			line-height: 35px;
			width: 200px;
		}
		
		.main_center li input {
			float: left;
			width:200px;
			height: 25px;
			margin-left: -100px;
		}
		.main_center li select {
			width: 200px;
			height: 30px;
			margin-left: -100px;
		}
		#address_detail{}
		#address_save {
			width: 260px;
			height: 40px;
			text-align: center; 
			margin-left: 20px; 
			background-color: #C60023;
			border: #C60023 0px solid;
			font-size: 20px;
			font-weight: 800;
		}
		.footer{
			border-top:2px solid #C60023;
			margin:30px 0;
		}
		
		#address_item:hover{
			color: "#FF8800";
		}
		#add-place {
			margin-left: 29px;
			font-size: 18px;
		}
	</style>
    
</head>
<body>
<div class="crumb">
            <div class="w">
                <div class="crumb-list">
                    <a href="./index.html" class="crumb-item">首页</a>
                    <span>></span>
                    <span class="crumb-item">个人中心</span>
                </div>
            </div>
</div>
    <div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="person.html" >· 个人信息</a></li>
				<li><a href="order.html" >· 全部订单</a></li>
				<li><a href="place.html" class="active">· 收货地址</a></li>
			</ul>
		</div>
        
        
		<div class="right_content clearfix" id="addrss_editor" id="address_item" style="z-index: 0;">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
                        
                            <dd v-if="onaddress == ''">
                            	无默认地址
                            </dd>
                            <dd v-else @click="editor(onaddress.addrId)" >
                            	{{onaddress.name}} {{onaddress.tel}} {{onaddress.province}} - {{onaddress.city}} - {{onaddress.area}}   {{onaddress.addr}}                        	
                            	<img src="image/icon/place_editor.jpg" width="20px" height="20px" />
                            </dd>
                        
                    </dl>
                    <dl>
						<dt>所有地址：</dt>
                        
                            <dd v-for="(addr,index) in addressinfo" style="cursor:pointer;" @click="editor(addr.addrId)" >
                            		{{addr.name}} {{addr.tel}} {{addr.province}} - {{addr.city}} - {{addr.area}}   {{addr.addr}}
                             		<img src="image/icon/place_editor.jpg" width="20px" height="20px" />
                             		<a id="delete_place" style="margin-left: 20px" @click="delete_place(addr.addrId)">删除</a>
                             		<a id="set_onaddress" style="margin-left: 20px" @click="set_onaddress(index)">设为默认地址</a>
                             </dd>
                     </dl> 
                     <a @click="addflag" href="#"  id="add-place">新增地址</a>    
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="main_center" style="width: 500px; height: 340px;">
					<ul>
						<li>
							<label >收件人姓名：</label>
							<input id="address_name" type="text" v-model="name" />
						</li>
						<li>
							<label >联系方式：</label>
							<input id="address_tel" type="text" v-model="tel" />
						</li>
						<li>
							<label>省:</label>
							<select  id="select_address_province" v-model="province" ></select>					
						</li>
						<li>
							<label>市:</label>
							<select id="select_address_city" v-model="city" ></select>
						</li>
						<li>
							<label>县(区)：</label>
							<select id="select_address_area" v-model="area" ></select>
						</li>
						<li>
							<label >详细地址：</label>
							<input  id="address_detail" type="text" v-model="addr" />
						</li>
						<li>
							<button v-if="flag" id="address_save" @click="update" >修改</button>
							<button v-else id="address_save" @click="add" >保存</button>
						</li>
					</ul>
					<div class="popup_con">
							<div class="popup">
								<p id="popup_info"></p>
							</div>
						</div>
				</div>
				<div id="allmap" style="position: absoulate; width: 665px; height: 400px; float: right; margin-top: -390px; z-index: 9;">
					
				</div>
		</div>
    </div>


	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2020 haier.com All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
<script  type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script  type="text/javascript" src="js/checkData.js"></script>
<script type="text/javascript" src="./js/axios.js"></script>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="./js/qs.js"></script>
<script  type="text/javascript" src="js/addr.js"></script>
<script  type="text/javascript" src="js/tk.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=3xxVocMFFkr5IRsMjvGKOyvygZURQmAG"></script>
<script type="text/javascript">


/* function baidumap(address) {
	var map = new BMapGL.Map("allmap");
	// 创建地图实例 
	//var point = new BMapGL.Point(116.404, 39.915);
	// 创建点坐标 
	map.centerAndZoom(address, 15);
	// 添加带有定位的导航控件
	var navigationControl = new BMapGL.NavigationControl({
	// 靠左上角位置
	anchor: BMAP_ANCHOR_TOP_LEFT,
	// LARGE类型
	type: BMAP_NAVIGATION_CONTROL_LARGE,
	// 启用显示定位
	enableGeolocation: true
	});
	map.addControl(navigationControl);
} */

var mid;
var addrss_info = new Vue({
	el: "#addrss_editor",
	data: {
		name: "",
		tel: "",
		province: "",
		city: "",
		area: "",
		addr: "",
		addressinfo: {},
		onaddress: [],
		addrId: "",
		flag: false // 保存和修改按钮的标志  false为保存  true为修改
	},
	watch: {
		province: function() {
			this.baidumap(this.province);
		},
		city: function() {
			this.baidumap(this.province + " " + this.city);
		},
		area: function() {
			this.baidumap(this.province + " " + this.city + " " + this.area);
		},
		addr: function() {
			this.baidumap(this.province + " " + this.city + " " + this.area + " " + this.addr);
		}
	},
	mounted: function() {
		bindAddr("xml/city.xml");
		axios.post("address", qs.stringify({op: "findAll"})).then(rt => {			
			this.addressinfo = rt.data;
			for(var i = 0, len = this.addressinfo.length; i < len; i ++) {
				if(this.addressinfo[i].status == 1){
					this.onaddress = this.addressinfo[i];					
					break;
				}
			}
			this.baidumap("长沙");
		});
	},
	methods: {
		addflag: function() {
			this.flag = false;
			this.name = "";
			this.tel = "";
			this.addr = "";
			this.province = "";
			this.city = "";
			this.area = "";
		},
		add: function() {
			this.flag = false;
			axios.post("address", qs.stringify({op: "add", name: this.name, tel: this.tel, province: this.province, city: this.city, area: this.area, addr: this.addr})).then( rt => {
				if(rt.data == 200) {
					showMsg("地址信息添加成功", "green", function() {
						location.href = "place.html";
					});							
					return;
				}
				showMsg("地址信息添加失败", "red");
			})
		},
		editor: function(addrId) {
			this.addrId = addrId;
			this.flag = true;
			var i = 0;
			for(i = 0, len = this.addressinfo.length; i < len; i ++) {
				if(this.addressinfo[i].addrId == addrId){
				  break;			
				}
			}
			this.name = this.addressinfo[i].name;
			this.tel = this.addressinfo[i].tel;
			this.addr = this.addressinfo[i].addr;					
		},
		update: function() {
				axios.post("address", qs.stringify({op: "update", addrId: this.addrId, name: this.name, tel: this.tel, province: this.province, city: this.city, area: this.area, addr: this.addr})).then(rt => {
				if(rt.data == 200) {
						showMsg("地址信息修改成功", "green", function() {
							location.href = "place.html";
						});							  							
					return;
				}
				showMsg("地址信息修改失败", "red");
			})
		},
		delete_place: function(addrId) {
			axios.post("address", qs.stringify({op: "delete", addrId: addrId})).then(rt => {
				if(rt.data == 200) {
						showMsg("地址信息删除成功", "green", function() {
							location.href = "place.html";
						});							  							
					return;
				}
				showMsg("地址信息删除失败", "red");
			});
		},
		set_onaddress: function(index) {
			if (this.onaddress == "" || this.onaddress == null) {
				axios.post("address", qs.stringify({op:"setDefault", addrId: this.addressinfo[index].addrId})).then(rt => {
					if(rt.data == 200) {
						showMsg("设置成功", "green", function() {
							location.href = "place.html";
						});							  							
						return;
					}
					showMsg("设置失败", "red");
					return;
				});
			}
			axios.post("address", qs.stringify({op:"setDefault", onaddrId: this.onaddress.addrId, addrId: this.addressinfo[index].addrId})).then(rt => {
				if(rt.data == 200) {
					showMsg("设置成功", "green", function() {
						location.href = "place.html";
					});							  							
					return;
				}
				showMsg("设置失败", "red");
				return;
			});
		},
		baidumap: function(address) {
			var map = new BMapGL.Map("allmap");
			// 创建地图实例 
			//var point = new BMapGL.Point(116.404, 39.915);
			// 创建点坐标 
			map.centerAndZoom(address, 15);
			// 添加带有定位的导航控件
			var navigationControl = new BMapGL.NavigationControl({
			// 靠左上角位置
			anchor: BMAP_ANCHOR_TOP_LEFT,
			// LARGE类型
			type: BMAP_NAVIGATION_CONTROL_LARGE,
			// 启用显示定位
			enableGeolocation: true
			});
			map.addControl(navigationControl);
		}
	}
})
</script>	
</body>
</html>