<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
      <link rel="stylesheet" href="css/footer.css">
      <link rel="stylesheet" href="css/login.css">
      <link rel="stylesheet" href="css/nav-simple.css">
      <link rel="stylesheet" href="css/layout.css">
	  <link rel="stylesheet" href="css/reg.css" />
</head>

<body>
<div class="nav-simple">
    <div class="w">
        <a class="logo" href="/index.html">海尔商城</a>
    </div>
</div>
<div class="page-wrap">
            <div class="w">
                <div class="user-con">
                    <div class="user-title">新用户注册</div>
                    <div class="user-box">
                        <div class="error-item">
                            <i class="fa fa-minus-circle error-icon"></i>
                            <p class="err-msg">Error</p>
                        </div>
                        <ul>
							<li>
								<label class="user-label" for="password">
								    <i class="fa fa-lock"></i>
								</label>
								<input type="text" class="user-content" v-model="nickName" id="nickName" placeholder="请输入昵称" autocomplete="off">
								<label class="error_tishi" id="label_nickName"></label>
							</li>							
							<li>
								<label class="user-label" for="password">
								    <i class="fa fa-lock"></i>
								</label>
								<input type="text" class="user-content" v-model="realName" id="realName" placeholder="请输入真实姓名" autocomplete="off">
							</li>					
							<li>
								<label class="user-label" for="password">
								    <i class="fa fa-lock"></i>
								</label>
								<input type="text" class="user-content" v-model="tel" id="tel" onchange="checkTel()" placeholder="请输入手机号码" autocomplete="off">
								<label class="error_tishi" id="label_tel"></label>
							</li>		
							<li>
								<label class="user-label" for="password">
								    <i class="fa fa-lock"></i>
								</label>
								<input type="password" class="user-content" v-model="pwd" id="pwd" placeholder="请输入密码" autocomplete="off">
							</li>
							<li>
								<label class="user-label" for="password">
								    <i class="fa fa-lock"></i>
								</label>
								<input type="password" class="user-content" v-model="againpwd" id="againpwd" onchange="checkPwd()" placeholder="请再次输入密码" autocomplete="off">
								<label class="error_tishi" id="label_pwd"></label>
							</li>
							<li>
								<label class="user-label" for="password">
								    <i class="fa fa-lock"></i>
								</label>
								<input type="text" class="user-content" v-model="email" id="email" onchange="checkEmail()" placeholder="请输入注册邮箱" autocomplete="off">
								<label class="error_tishi" id="label_email"></label>
							</li>	
							<li>
								<label class="user-label" for="password">
								    <i class="fa fa-lock"></i>
								</label>
								<input type="text" class="user-content" v-model="code" id="code" placeholder="请输入验证码" autocomplete="off">
								<button id="get_code" @click="sendVerifyCode">获取验证码</button>
								<label class="error_tishi" id="label_code"></label>
							</li>
						</ul>
						<button class="button_ok" @click="reg">注&nbsp;&nbsp;&nbsp;&nbsp;册</button>
						
                        <div class="popup_con">
							<div class="popup">
								<p id="popup_info"></p>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
	
<!--footer-->
<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.imooc.com" target="_blank">慕课网</a> |
            <a class="link" href="https://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
            <a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
        </div>
        <p class="copyright">
            Copyright © 2020 haier.com All Right Reserved
        </p>
    </div>
</div>
<script  type="text/javascript" src="js/checkData.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="./js/axios.js"></script>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="./js/qs.js"></script>
<script type="text/javascript" src="./js/tk.js"></script>
<script>
	var ecode;	// 邮箱验证码
	
	let reg =  new Vue({
		el: ".page-wrap",
		data: {
			nickName:"",
			realName:"",
			tel:"",
			pwd:"",
			againpwd:"",
			email:"",
			code:""
		},
		methods: {
			sendVerifyCode: function() {
			    axios.post("member", qs.stringify({op: "sendVerifyCode", email: this.email})).then(rt => {
			    	ecode = rt.data.msg;
			    	if (rt.data.code == 200) {
			    		showMsg("邮件已发送", "green");
			    		return;
			    	} 
			    	showMsg("邮件发送失败,请稍后重试...", "red");
			    	return;
			    });
			},
			reg: function() {
				if (ecode == this.code) {
					axios.post("member", qs.stringify({op: "reg", nickName: this.nickName, realName: this.realName,
						tel: this.tel, pwd: this.pwd, email: this.email})).then(rt => {
						
						if (rt.data.code == 200 && rt.data.msg == "成功") {
							showMsg("注册成功,请请先登录...", "green", function() {
								location.href = 'user-login.html';
								return;
							});
					    } else if(rt.data.code == 500 && rt.data.msg == "失败"){
					    		showMsg("注册失败,请稍后重试...", "red");
						   	    return;
					    } else {
					    		showMsg("邮箱不一致，请重新输入...", "red");
					   	   		 return;
					    }
					    
					});
				} else {
					showMsg("验证码错误,请稍后重试...", "red");
					return;
				} 
				
			} 
		}
	});
	
	function checkTel() {
		if (!isPhoneNo($.trim($("#tel").val()))) {
			$("#tel").val("");
			$("#label_tel").html("请输入有效的手机号码");
			$(".button_ok").attr("disable", true);
		} else {
			$("#label_tel").html("");
			$(".button_ok").attr("disable", false);
		}
	}
   
	function checkEmail() {
		if (!isEmail($.trim($("#email").val()))) {
			$("#email").val("");
			$("#label_email").html("请输入有效的邮箱");
			$(".get_code").attr("disable", false);
			$(".button_ok").attr("disable", true);
		} else {
			$("#label_email").html("")
			$(".button_ok").attr("disable", false);
		}
	}
	
	function checkPwd() {
		var pwd = $.trim($("#pwd").val());
		var againpwd = $.trim($("#againpwd").val());
		if (pwd != againpwd) {
			$("#pwd").val("");
			$("#againpwd").val("");
			$("#label_pwd").html("两次密码不一致，请重新输入...");
		} else {
			$("#label_pwd").html("");
			$(".button_ok").attr("disable", false);
		}
	}
</script>
</body>
</html>




