
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>海尔商城</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/slide.css">
</head>

<script src="js/jquery.min.js"></script>
<script src="js/slide.js"></script>
<script type="text/javascript" src="js/category.js"></script>
<style type="text/css">
.nav .user.login {
    display: unset;
}
.banner-con .banner-img{
    width: 100%;
    height: 370px;
}
#goods-img:hover {
	/* width: 100%;
	height: 100%;
	overflower: hidden; */
	transform: scale(1.2);
}


</style>
<body>
	<div id="search">
		<div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">首页</a>
                    <span>>搜索</span>
                    <span class="link-text"></span>
                </div>
            </div>
        </div>
<!--nav-->
<!--header-->
		<div class="header">
		    <div class="w">
		        <a class="logo" href="./index.html">海尔电器</a>
		        <div class="search-con">
		            <input class="search-input" id="search-input" placeholder="请输入商品名称" v-model="name" />
		            <button class="btn search-btn" id="search-btn" @click="search" >搜索</button>
		        </div>
		    </div>
		</div>
<!--header-->
        <div class="w">
            <div class="floor_wrap">
                <h1 class="floor-title">搜索结果：</h1>
                <ul class="floor-list">
                    <li class="floor-item" v-for="good in goods">
                        <a :href="'./detail.html?' + good.gid">
                       	    <span class="price-text">￥{{good.price}}</span>
                            <img class="floor-img" id="goods-img" :src="good.pics.split(';')[0]" :alt="good.sname" />
                            <span class="floor-text">{{good.sname}}</span>
                        </a>
                    </li>
                </ul>
                <div id="pagination"></div>
            </div>
        </div>
	</div>
<!--index-->
<!--footer-->
<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.imooc.com" target="_blank">慕课网</a> |
            <a class="link" href="https://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
            <a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
        </div>
        <p class="copyright">
            Copyright © 2020 haier.com All Right Reserved
        </p>
    </div>
</div>

<script  type="text/javascript" src="js/checkData.js"></script>
<script type="text/javascript" src="./js/axios.js"></script>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="./js/qs.js"></script>
<script type="text/javascript" src="./js/tk.js"></script>
<script type="text/javascript" src="./js/search.js"></script>
<script type="text/javascript" src="./js/showpage.js"></script>
<script type="text/javascript">
</script>
</body>
</html>

