<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" href="css/footer.css">
		<link rel="stylesheet" href="css/login.css">
		<link rel="stylesheet" href="css/nav-simple.css">
		<link rel="stylesheet" href="css/layout.css">
		<link rel="stylesheet" href="css/reg.css" />
	</head>
	<style type="text/css">
		.w {
			width: 1080px;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
		}
		
		#code{
			float: left;
			width: 90px;
			margin-left: 52px;
		}
		
		#code_img{
			float: left;
			margin-left: 5px;
			padding-bottom: 20px;
		}
		#again_code{
		    position: absolute;
			width: 100px;
			margin-top: 20px;
			margin-left: -50px;
		}
	</style>
	<body>
		<div class="nav-simple">
			<div class="w">
				<a class="logo" href="/index.html">海尔商城</a>
			</div>
		</div>
		<div class="page-wrap">
			<div class="w">
				<div class="user-con">
					<div class="user-title">用户登录</div>
					<div class="user-box">
						<div class="error-item">
							<i class="fa fa-minus-circle error-icon"></i>
							<p class="err-msg">Error</p>
						</div>
						<ul>
							<li>
								<label class="user-label" for="password">
									<i class="fa fa-lock"></i>
								</label>
								<input type="text" class="user-content" onchange="checkEmail()" v-model="email" id="email" placeholder="请输入邮箱" autocomplete="off">
								<label class="error_tishi" id="label_email"></label>
							</li>
							<li>
								<label class="user-label" for="password">
								    <i class="fa fa-lock"></i>
								</label>
								<input type="password" class="user-content" v-model="pwd" id="pwd" placeholder="请输入密码" autocomplete="off">
							</li>
							<li>
								<label class="user-label" for="password">
									<i class="fa fa-lock"></i>
								</label>
								<input type="text" class="user-content" v-model="code" id="code" placeholder="请输入验证码" autocomplete="off">
								<img width="100px" height="35px"  id="code_img" src="code" />
								<a id="again_code" href="#">看不清，换一张</a>
							</li>
						</ul>
						<button class="button_ok" @click="login" >登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
						<div class="popup_con">
							<div class="popup">
								<p id="popup_info"></p>
							</div>
						</div>
						<div class="link-item">
							<a class="link" href="./user-pass-reset.html" target="_blank">忘记密码</a>
							<a class="link" href="./reg.html" target="_blank">免费注册</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--footer-->
		<div class="footer">
			<div class="w">
				<div class="links">
					<a class="link" href="http://www.imooc.com" target="_blank">慕课网</a> |
					<a class="link" href="https://www.baidu.com" target="_blank">百度</a> |
					<a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
					<a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
				</div>
				<p class="copyright">
					Copyright © 2020 haier.com All Right Reserved
				</p>
			</div>
		</div>
		<!--footer-->
<script  type="text/javascript" src="js/checkData.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="./js/axios.js"></script>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="./js/qs.js"></script>
<script type="text/javascript" src="./js/tk.js"></script>
<script type="text/javascript">
function changeCode() {
	$("#code_img").attr("src", "code?d=" + new Date());
}

// 邮箱验证
function checkEmail() {
		if (!isEmail($.trim($("#email").val()))) {
			$("#email").val("");
			$("#label_email").html("请输入有效的邮箱");
			$(".get_code").attr("disable", false);
			$(".button_ok").attr("disable", true);
		} else {
			$("#label_email").html("")
			$(".button_ok").attr("disable", false);
		}
	}

let login = new Vue({
	el: ".page-wrap",
	data: {
		email: "",
		pwd: "",
		code: ""
	},
	methods: {
		login: function() {
			if (this.email == "" || this.pwd == "") {
				showMsg("您输入的信息不完整,请重新输入...", "red");
				return;
			}
			
			axios.post("member", qs.stringify({op:"login", email:this.email, pwd:this.pwd, code: this.code})).then(rt => {
				if (rt.data == 501) { // 验证码错误
					showMsg("验证码错误，请重新输入", "red");
					changeCode();
		    		return;					    	
		    	}
				if (rt.status == 200 && rt.data.code == 200) {
					location.href="index.html";
					return;
				}
				showMsg("账号或密码错误,请确认后重新登录...", "red");
				changeCode();
			})
		}
	}
})

</script>
		
	</body>
</html>
